/* Import Style Variablen -------------------------------- */

@import "../index.css";

/* ------------------------------------------------------ */

.editprofile_page {
    font-family: var(--font-family-bold);
    color: var(--primary-color);
    margin: 0 auto;
    text-align: center;
    padding: 2vh 3vw;
    position: relative;
}

/* Edit - Profile - Topbar ------------------------------------- */

.editprofile_topbar {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 7px;
}

.editprofile_topbar h5 {
    font-size: calc(var(--font-size-rem)*2.2);
    margin: 20px 0;
}

/* Edit - Profile - Image ------------------------------------- */

.edit-image-container {
    margin: 18px auto;
}

.edit-image-container .profile-image {
    width: 140px;
    height: 140px;
    border-radius: 100px;
    object-fit: cover;
    object-position: center;
}

.edit-icon-btn {
    position: absolute;
    top: 24%;
    left: 58.5%;
    padding: 0;
    background-color: transparent;
    border: none;
    z-index: 1;
    border-radius: 10px;
}

.edit-profile-file {
    color: transparent;
    position: absolute;
    top: 21.2%;
    right: 34%;
    width: 7%;
    z-index: 2;
}

.edit-profile-file::-webkit-file-upload-button {
    visibility: hidden;
}


.center-file-name {
    visibility: hidden;
}

.btn-green {
    /* visibility: hidden; */
    border: none;
    padding: 5px 10px;
    border-radius: 30px;
}


/* Edit - Profile - Form -------------------------*/

.text_form {
    margin: 0 auto;
    position: relative;
}

.text_form :is(input, select, textarea) {
    display: inline-block;
    margin-top: 12px;
    font-family: var(--font-family-bold);
    color: var(--secondary-color);
    background-color: var(--input-color-1);
    font-size: calc(var(--font-size-rem)*1.3);
    font-weight: 500;
    border-radius: 10px;
    width: 90%;
    padding: 15px;
    border-style: none;
    appearance: none;
    resize: none;
}

.text_form .gender {
    width: 98%;
    appearance: none;
    background-image: url('../resource/icons/ArrowDown_dropdown_editProfile.png');
    background-position: 96.5%;
    background-repeat: no-repeat;
}

.text_form .birthday {
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
}

.text_form .birthday::-webkit-calendar-picker-indicator {
    opacity: 0.01;
    cursor: pointer;
    z-index: 1;
}

/* .text_form .birthday::-webkit-datetime-edit-text {
    color: transparent;
} */

/* .text_form .birthday::-webkit-datetime-edit-placeholder {
    color: initial;
} */

.text_form .calendarIcon {
    position: absolute;
    right: 4.8%;
    top: 39.5%;
    width: 5%;
    cursor: pointer;
}

.text_form .email {
    background-image: url('../resource/icons/Groupmail_icon.svg');
    background-repeat: no-repeat;
    background-position: 97.5%;
}

.text_form :is(input, select, textarea):hover {
    background-color: var(--input-color-2);
}

.text_form :is(input, select, textarea):focus {
    outline: none;
}

/* Submit - Button -------------------------------------------- */

.submit_button {
    color: var(--pure-white);
    background-color: var(--feed-color);
    width: 98%;
    border-style: none;
    border-radius: 30px;
    padding: 15px 0;
    margin: 20px 0 30px 0;
}

/* --------------------------------------------------- */