/* Import Style Variablen -------------------------------- */

@import "../index.css";

/* ------------------------------------------------------ */

.editprofile_page {
  font-family: var(--font-family-bold);
  color: var(--primary-color);
  width: 95%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  padding: 2vh 3vw;
}

/* Edit - Profile - Topbar ------------------------------------- */

.editprofile_topbar {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 7px;
    position: relative;
}

.editprofile_topbar h5 {
    font-size: calc(var(--font-size-rem)*2.2);
    margin: 20px 0;
    padding: 0;
    padding-bottom: 5px;
}

/* Edit - Profile - Image ------------------------------------- */


.edit-image-container {
    padding: 20px 0;
    margin: 0 auto;
    position: relative;
}

.editprofile-page .profile-image {
    width: 33%;
    border-radius: 60px;
}

.edit-icon {
    position: absolute;
    top: 68%;
    left: 57%;
    padding: 0;
    background-color: transparent;
    border: none;
}

.edit-profile-file {
    color: transparent;
    position: absolute;
    top: 72%;
    right: 35.5%;
    width: 7%;
    z-index: 1;
}

/* .edit-profile-file::-webkit-file-upload-button {
    visibility: hidden;
} */

.center-file-name {
    margin-top: 10px;
}

.btn-green {
    /* visibility: hidden; */
    margin-top: 10px;
    border: none;
    padding: 5px 10px;
    border-radius: 30px;
}


/* Edit - Profile - Form -------------------------*/

.text_form {
    margin: 0 auto;
    position: relative;
}

.text_form .name,
.text_form .username,
.text_form .activity,
.text_form .birthday,
.text_form .email,
.text_form .tel,
.text_form .website,
.text_form .gender,
.text_form .aboutme {
    display: inline-block;
    margin-top: 12px;
    font-family: var(--font-family-bold);
    color: var(--secondary-color);
    background-color: var(--input-color-1);
    font-size: calc(var(--font-size-rem)*1.3);
    font-weight: 500;
    border-radius: 10px;
    width: 90%;
    padding: 15px;
    border-style: none;
    appearance: none;
    resize: none;
}

.text_form .gender {
    width: 98%;
    appearance: none;
    background-image: url('../resource/icons/ArrowDown_dropdown_editProfile.png');
    background-position: 98%;
    background-repeat: no-repeat;
}

/* ::-webkit-calendar-picker-indicator  */

.text_form .birthday {
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
}

.text_form .birthday::-webkit-calendar-picker-indicator {
    opacity: 0.01;
    cursor: pointer;
}

.text_form .calendarIcon {
    position: absolute;
    right: 3%;
    top: 35.5%;
    width: 5%;
    cursor: pointer;
}


.text_form .email {
    background-image: url('../resource/icons/Groupmail_icon.svg');
    background-repeat: no-repeat;
    background-position: 97.5%;
}

.text_form .name:hover,
.text_form .username:hover,
.text_form .activity:hover,
.text_form .birthday:hover,
.text_form .email:hover,
.text_form .tel:hover,
.text_form .gender:hover,
.text_form .website:hover,
.text_form .aboutme:hover {
    background-color: var(--input-color-2);
}

.text_form .name:focus,
.text_form .username:focus,
.text_form .activity:focus,
.text_form .birthday:focus,
.text_form .email:focus,
.text_form .tel:focus,
.text_form .gender:focus,
.text_form .website:focus,
.text_form .aboutme:focus {
    outline: none;

}

/* Submit - Button -------------------------------------------- */

.submit_button {
  color: var(--pure-white);
  background-color: var(--feed-color);
  width: 98%;
  border-style: none;
  border-radius: 30px;
  padding: 15px 0;
  margin: 20px 0 30px 0;
}
