/* Import Style Variablen -------------------------------- */

@import '../index.css';

/* ------------------------------------------------------ */

.editprofile_page {
    font-family: var(--font-family-bold);
    color: var(--primary-color);
    width: 95%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    padding: 2vh 3vw;
}



/* Edit - Profile - Image ------------------------------------- */

.image-container {

    padding: 10px 0;
    margin: 0 auto;
}

.editprofile_page .profile_image {
    position: relative;
    width: 33%;
}

.editprofile_page .edit_icon {
    position: absolute;
    top: 71%;
    left: 57%;
}

/* Edit - Profile - Form -------------------------*/


.text_form {
    margin: 0 auto;
}

.text_form input,
.text_form select {
    display: inline-block;
    margin-top: 12px;
    background-color: var(--input-color);
    border-radius: 10px;
    width: 90%;
    padding: 15px;
    border-style: none;
}

.text_form select {
    width: 98%;
    padding-right: 10px;
    appearance: none;
    background-image: url('../resource/icons/ArrowDown_dropdown_editProfile.png');
    background-position: 97%;
    background-repeat: no-repeat;
    padding-right: 10px;
}

.text_form input:nth-of-type(4) {
    background-image: url('../resource/icons/Groupcalendar_icon.svg');
    background-repeat: no-repeat;
    background-position: 97%;
}

.text_form input:nth-of-type(5) {
    background-image: url('../resource/icons/Groupmail_icon.svg');
    background-repeat: no-repeat;
    background-position: 97%;
}

.text_form input:focus,
.text_form select:focus {
    outline: none;
}