.home-container {
  padding: 1vh 0vw 0vh 0vw;
  font-family: "Urbanist", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3vw;
  border-bottom: 1px solid lightgray;
}

.left-box {
  display: flex;
  align-items: center;
  gap: 2vw;
}

.logo,
.heart-img {
  width: 30px;
  height: 30px;
}

.title {
  font-weight: bold;
}

.main-heart-button {
  background-color: transparent;
  border: none;
}

.home-main {
  overflow-y: auto;
  max-height: calc(100vh - 155px);
  padding: 0 2vw;
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vh 1vw;
}

.person-left-side {
  display: flex;
  align-items: center;
  gap: 2vw;
}

.person-left-side img {
  border-radius: 50%;
}

.name-box {
  line-height: 2px;
  text-align: start;
}

.name {
  font-size: 16px;
  font-weight: bold;
}

.position {
  font-size: 12px;
  font-weight: 300;
}

.settings-container {
  text-decoration: none;
}

.settings-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding-bottom: 1vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.person-photo {
  width: 40px;
  height: 40px;
}

.main-section {
  display: flex;
  justify-content: center;
  margin-bottom: 1vh;
}

.main-footer-section {
  display: flex;
  align-items: center;
  gap: 8vw;
  margin-bottom: 2vh;
  padding-left: 1vw;
}

/* --- CommentPage ----- */
.comment-section {
  display: flex;
  align-items: center;
  gap: 2vw;
}

/* --- FooterNavbar ----- */

.footer-navbar {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid lightgray;
  padding: 2vh 2vw;
  /* position: fixed;
  bottom: 0; */
  /* width: 100%; */
}

.home-footer,
.search-footer,
.frame-footer,
.profile-footer {
  display: flex;
  border: none;
  background-color: transparent;
  padding: 0;
}