.commentPage-container {
  height: 100vh;
  font-family: "Urbanist", sans-serif;
}
.scrollable {
  overflow: scroll;
  max-height: calc(100vh - 65px);
  padding-bottom: 7vh;
}
.commentPage-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4vw;
  height: 8vh;
  position: fixed;
  top: 1;
  left: 0;
  right: 0;
  z-index: 200;
  background-color: #fff;
}
.commentsHeader-left {
  display: flex;
  align-items: center;
  gap: 4vw;
}
.left-button-icon:active {
  transform: scale(0.9);
  transition: all;
}
.send-button {
  border: none;
  background-color: transparent;
}
.person-section-container {
  padding: 0 4vw;
}
.person-section-container_child {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 9vh 4vw 0vh 4vw;
  background-color: #fff;
  z-index: 100;
  border-bottom: 1px solid #eeeeee;
}
.comment-user-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footersButtonContainerClass_1 {
  display: flex;
  align-items: center;
  gap: 6vw;
}
.comment-user-header_left {
  display: flex;
  align-items: center;
  gap: 2vw;
}
.user-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #e1e1e1;
  object-fit: cover;
  object-position: center;
}
.user-title {
  display: flex;
  flex-direction: column;
  line-height: 0px;
  justify-content: center;
}
.user-title-name {
  font-size: 0.9rem;
}
.user-title-activity {
  font-size: 0.7rem;
}
.footers-button-container {
  display: flex;
  gap: 5vw;
}
.commentButtonLink {
  text-decoration: none;
}

.comment-list-container {
  padding: 41vh 0 7vh 0;
}
.comment {
  margin-bottom: 2vh;
}
.like-section {
  display: flex;
  align-items: center;
}
.comment-header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.comment-left-box {
  display: flex;
  align-items: center;
  gap: 2vw;
  margin-bottom: 3vh;
}
.user-photo1 {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #fafafa;
  object-fit: cover;
  object-position: center;
}
.user-title-activity {
  font-size: 0.7rem;
}
.comment-down-box {
  display: flex;
  gap: 5vw;
}
.reply-button {
  border: none;
  font-size: 1rem;
}
.tag-box {
  color: #2c6aee;
  text-align: start;
}
.footer-section {
  display: flex;
  align-items: start;
  gap: 5vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 2vw;
}
.footer-section-buttons {
  display: flex;
  gap: 3vw;
}
.comment-container {
  display: flex;
  flex-direction: column;
}
.comment-name-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.comment-name-box_user {
  display: flex;
  flex-direction: column;
}
.feedbacks-section {
  padding: 5vh 3vw;
  padding-bottom: 2vh;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.feedback-section {
  margin-bottom: 3vh;
}
.person-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2vw;
}
.person-box-left {
  display: flex;
  align-items: center;
  gap: 3vw;
}
.feedback-name {
  font-weight: bold;
}
.feedback-position {
  font-size: 12px;
}
.comment-button-section {
  display: flex;
  align-items: center;
  gap: 2vw;
}
.feedback-box {
  text-align: start;
}
.feedback-footer {
  display: flex;
  align-items: center;
  gap: 6vw;
}

.feedback-write-section {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vw;
  padding: 4vh 1vw 3vh 1vh;
  background-color: #fff;
  z-index: 100;
  border-top: 1px solid #eeeeee;
  border-radius: 23px 23px 0 0;
}
.feedback-input {
  padding: 12px;
  border: 1px solid #c1c1c1;
  border-radius: 10px;
  background-color: #fafafa;
  width: 58vw;
  margin-right: -2vw;
}
.post-button {
  background-color: transparent;
  border: none;
  color: red;
  font-weight: bold;
  font-size: 1rem;
}
.person-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fafafa;
  object-fit: cover;
  object-position: center;
}
