/* Import Style Variablen -------------------------------- */

@import "../index.css";

/* ------------------------------------------------------ */

/* body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.ownprofile_page {
  font-family: var(--font-family-bold);
  color: var(--primary-color);
  /* width: 95%; */
  margin: 0 auto;
  text-align: center;
  padding: 4.7vh 1.1vw 0 1.1vw;
}

.ownprofile_page p {
  letter-spacing: var(--letter-spacing);
}

/* Profile - Bar - Top ---------------------------------- */

.profile_main_bar {
  display: flex;
  justify-content: space-between;
  padding-top: 17px 3vw;
}

.toktok-logo {
  width: 30px;
  height: 30px;
}

.profile_main_bar section {
  display: flex;
}

.profile_main_bar section h2 {
  font-size: calc(var(--font-size-rem) * 2.4);
  font-weight: 500;
  padding-left: 0.5rem;
  margin: 20px 0;
}

.head-navigation {
  display: flex;
  gap: 2vw;
}

.settingsButton {
  border: none;
  background-color: transparent;
}

.profile-settings-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  padding: 16px;
  border-top: 1px solid gray;
  border-radius: 45px 45px 0 0;
  font-family: "Urbanist", sans-serif;
}

.slide-up {
  animation-name: slideUp;
}

.slide-down {
  animation-name: slideDown;
}

.minus-button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: -2vh;
  left: 42vw;
}

.setting-item {
  display: flex;
  align-items: center;
  gap: 3vw;
  padding-left: 3vw;
  font-size: 1.3rem;
}

.setting-item:hover {
  transform: scale(1.1);
  transition: all;
}

.main-ownProfile {
  overflow-y: auto;
  max-height: calc(100vh - 155px);
  padding: 0 2vw;
}

/* Profile - Image ------------------------------------- */

.image-container {
  position: relative;
  padding-top: 10px;
  margin: 0 auto;
}

/* Profile - Image ------------------------------------- */

.image-container .profile_img {
  /* width: 33%; */
  width: 140px;
  height: 140px;
  border-radius: 100px;
  object-fit: cover;
  object-position: center;
}

.edit_icon {
  position: absolute;
  top: 78%;
  left: 59%;
}

/* Profile - Facts ------------------------------------- */

.profile_article h1 {
  font-size: calc(var(--font-size-rem) * 2.4);
  font-weight: 600;
  margin-top: 10px;
}

.profile_article h3 {
  font-size: calc(var(--font-size-rem) * 1.4);
  font-weight: 500;
  letter-spacing: var(--letter-spacing);
  margin: 0;
}

.profile_article p:nth-of-type(1) {
  font-family: var(--font-family-thin);
  font-size: calc(var(--font-size-rem) * 1.4);
  color: var(--secondary-color);
  font-weight: 400;
  line-height: 1.3rem;
  margin-top: 10px;
}

.profile_article p:nth-of-type(2) {
  font-size: calc(var(--font-size-rem) * 1.4);
  font-weight: 500;
  color: var(--domain-color);
}

/* Profile - Facts - Follower - Section --------------- */
.follower_section {
  display: flex;
  padding-top: 1rem;
}

.follower_section div {
  width: 33%;
}

.follower_section .followers {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.follower_section h5 {
  font-size: calc(var(--font-size-rem) * 2.4);
  font-weight: 600;
  margin: 0;
}

.follower_section p {
  font-size: calc(var(--font-size-rem) * 1.2);
  font-family: var(--font-family-thin);
  color: var(--secondary-color);
  font-weight: 600;
  margin: 0;
  padding: 4%;
}

.follower_section_line {
  background-color: var(--border-color);
  padding-top: 1px;
  margin: 20px auto;
  width: 95%;
}

/* PROFILE - GALLERY ------------------------- */

/* Profile - Gallery - Header --------------- */
.profile_gallery_header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
}

.profile_gallery_header h5 {
  color: var(--feed-color);
  font-size: calc(var(--font-size-rem) * 1.6);
  font-weight: 500;
  letter-spacing: var(--letter-spacing);
  margin: 10px;
}

.profile_gallery .line {
  background-color: var(--feed-color);
  width: 31%;
  padding-top: 4px;
  margin: 12px 10px;
  border-radius: 4px;
}

/* Profile - Gallery - Section --------------- */

.profile_gallery_images {
  padding-bottom: 50px;
}

.profile_gallery_images img {
  width: 30%;
  padding: 2px;
}

/* Profile - Gallery - Footer - Bar ---------- */