.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 4vh;
  /* gap: 3vh; */
  font-family: "Urbanist", sans-serif;
}

.search-header {
  position: relative;
  display: flex;
  justify-content: center;
}

.search-icon {
  position: absolute;
  left: 8%;
  top: 25%;
}

.search-person-container {
  overflow-y: auto;
  max-height: calc(100vh - 195px);
}

.search-person-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  padding: 0 2vw;
  height: 12vh;
}

.followButton {
  background-color: transparent;
  border: none;
}

.input-box {
  width: 70%;
  padding: 2vh 10vw;
  border-radius: 13px;
  border: 1px solid lightgray;
  background-color: transparent;
}

.center-icon {
  border-bottom: 3px solid red;
  padding: 2vh 0;
  text-align: center;
}