/* Import Style Variablen -------------------------------- */

@import '../index.css';

/* Import Icons ------------------------------------------ */


.signin_page {
    font-family: var(--font-family-bold);
    color: var(--primary-color);
    width: 90%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    position: relative;
}

/* --- Headline ---------------------------- */

.headline {
    font-size: calc(var(--font-size-rem)*3.2);
    width: 60%;
    text-align: left;
    font-weight: 600;
}

/* --- Logo -------------------------------- */

.toktokLogo {
    width: 7rem;
    margin: 5vh 0;
    padding: 0;
}

/* --- Form -------------------------------- */

.signin_form {
    position: relative;
}

.signin_form :is(input) {
    display: inline-block;
    margin-top: 1.2rem;
    font-family: var(--font-family-bold);
    color: var(--secondary-color);
    background-color: var(--input-color-1);
    font-size: calc(var(--font-size-rem)*1.4);
    font-weight: 500;
    border-radius: 10px;
    width: 85%;
    padding: 15px;
    border-style: none;
    appearance: none;
    resize: none;
    padding-left: 40px;
}

.signin_form .mailIcon {
    position: absolute;
    left: 2.7%;
    top: 13.8%;
    width: 6%;
}

.signin_form .password {
    background-image: url('../resource/icons/Locksafe-icon.png');
    background-position: 3%;
    background-repeat: no-repeat;
    position: relative;
}

.signin_form :is(input):hover {
    background-color: var(--input-color-2);
}

.signin_form :is(input):focus {
    outline: none;
}

.toggle_password :is(.hideIcon, .showIcon) {
    position: absolute;
    right: 2%;
    top: 43%;
    width: 5%;
}

.signin_btn {
    color: var(--pure-white);
    background-color: var(--feed-color);
    width: 100%;
    font-weight: 500;
    border-style: none;
    border-radius: 30px;
    padding: 15px 0;
    margin: 20px 0 30px 0;
}

/* --- Link ------------------------------------- */

.forgot_link {
    color: var(--feed-color);
    text-decoration: none;
    font-size: calc(var(--font-size-rem)*1.4);
    font-weight: 500;
}

.link_to {
    padding-top: 30px;
    color: var(--small-text);
    font-size: calc(var(--font-size-rem)*1.2);
    font-weight: 400;
}

.link_to a {
    color: var(--feed-color);
    text-decoration: none;
}