/* Import Style Variablen -------------------------------- */

@import '../index.css';

/* Import Icons ------------------------------------------ */


.signin_page {
    font-family: var(--font-family-bold);
    color: var(--primary-color);
    width: 90%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

/* --- Headline ---------------------------- */

.headline {
    font-size: calc(var(--font-size-rem)*3.2);
    width: 60%;
    text-align: left;
    font-weight: 600;
}

/* --- Logo -------------------------------- */

.toktokLogo {
    width: 7rem;
    margin: 5vh 0;
    padding: 0;
}

/* --- Form -------------------------------- */

form input {
    display: inline-block;
    margin-top: 1.2rem;
    font-family: var(--font-family-bold);
    color: var(--secondary-color);
    background-color: var(--input-color-1);
    font-size: calc(var(--font-size-rem)*1.4);
    font-weight: 500;
    border-radius: 10px;
    width: 85%;
    padding: 15px;
    border-style: none;
    appearance: none;
    resize: none;
    padding-left: 40px;
}

form input[type="email"] {
    background-image: url('../resource/icons/Messageemail_icon-filed.png');
    background-repeat: no-repeat;
    background-position: 3%;
}

form input[type="password"] {
    background-image: url('../resource/icons/Locksafe-icon.png'),
        url('../resource/icons/Hidepassword_hidden.png');
    background-position: 3%, 97%;
    background-repeat: no-repeat, no-repeat;
}

form input:hover {
    background-color: var(--input-color-2);
}

form input:focus {
    outline: none;
}

button {
    color: var(--pure-white);
    background-color: var(--feed-color);
    width: 100%;
    font-weight: 500;
    border-style: none;
    border-radius: 30px;
    padding: 15px 0;
    margin: 20px 0 30px 0;
}

/* --- Link ------------------------------------- */

.forgot_link {
    color: var(--feed-color);
    text-decoration: none;
    font-size: calc(var(--font-size-rem)*1.4);
    font-weight: 500;
}

.link_to {
    padding-top: 30px;
    color: var(--small-text);
    font-size: calc(var(--font-size-rem)*1.2);
    font-weight: 400;
}

.link_to a {
    color: var(--feed-color);
    text-decoration: none;
}