.master {
    margin: 1vh 2vw;
    font-family: var(--font-family-bold);
    color: var(--primary-color);
    height: 130vh;
}

.new_post_title {
    display: flex;
    gap: 5%;
}

.background_photo {
    background-color: #bdbdbd;
    border-radius: 15px;
}

.add_photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload_button {
    margin: 25vh 0;
    background-color: #ff4d67;
    color: #ffffff;
    font-size: 1.2rem;
    border: none;
    border-radius: 25px;
    padding: 2vh 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7%;
    transition: all 0.5s ease;
}

.upload_button:hover {
    background-color: #fa798c;
}

.gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
    margin: 2vh 0;
}

.gallery_left {
    display: flex;
    align-items: center;
    gap: 10%;
}

.gallery_right {
    display: flex;
    gap: 10%;
    margin-right: 2vw;
}

.gallery_button {
    background-color: white;
    border: none;
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.dropdown-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 2%;
}

.dropdown-option img {
    width: 100%;
}

#file-input {
    display: none;
}