body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "UrbanistVar";
  src: url("./resource/fonts/Urbanist-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "UrbanistLight";
  src: url("./resource/fonts/Urbanist-ExtraLight.ttf") format("truetype");
}

:root {
  --primary-color: #212121;
  --secondary-color: #424242;
  --border-color: #eeeeee;
  --domain-color: #246bfd;
  --feed-color: #ff4d67;
  --input-color: #fafafa;
  --font-family-bold: "UrbanistVar", sans-serif;
  --font-family-thin: "UrbanistLight", sans-serif;
  --font-size-rem: 10px;
  --letter-spacing: 0.2px;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
